[user]
	name = Rodrigo Eliseu
	email = rodelrod@hotmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    st = status -sb
    cm = commit -m
    co = checkout
[github]
	user = rodelrod
[includeIf "gitdir:~/code/dbg/"]
    path = .gitconfig_dbg
